body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 32px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  max-width: 580px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical; /* Evita que el usuario cambie el tamaño del textarea */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea:focus {
  outline: none;
  border-color: #66afe9; /* Cambia el color del borde al enfocar */
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}

button {
  background-color: #fded06;
  color: rgb(8, 8, 8);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 200ms;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

button:hover {
  
  opacity: 0.8;
  
}

button:active {
  transform: translateY(0); /* Efecto de pulsar el botón */
}
